//BODY   BODY //

//FONDO
.body-theme{
background-color: $background-body;
}

/* SIN BARRA DE SCROLL 
.body-cover_page{
   
    &::-webkit-scrollbar{
        display: none;
    }
}*/




   // HEADER    HEADER  //
   
// FONDO DEL HEADER
.main-header{
    background-color: $white-background;
}
// BOTONES LETRAS DEL HEADER
.header_botons{
    
    color: $secundary-color;   
}




   // PICTURE AND DESCRIPTION //

// FONDO COLOR 

.container-pd{
   
    background-color: $white-background;
    
}

//COLOR DE TEXTO
.name{
    color: $background-body;
}
//COLOR PROFESION
.profession{
    color: $background-body;
}

// COLOR DE LAS LETRAS SBS
.name-color{
    color: $background-body;
    
}


//     TITULOS DE LAS SECCIONES 

.title-L{
    color: $white-color;
    z-index: 10;
}
.title-R{
    color: $dark-color;
    z-index: 10;
}




    //  ABOUT ME    ABOUT ME    ABOUT ME  //

// FONDO COLOR
.container-about{
    background-color: $dark-background;
}




    //   TIME LINE      TIME LINE   //

//FONDO COLOR
.container-tl{
    background-color: $white-background;
}
//COLOR BOTON CV
.am-section-a_button-cv{
    background-color: $secundary-color;
    color: $white-color;    
}
//COLOR TEXTO
.am-section-a_text{
    color: $white-color;
    }




    //   KNOWLEDGE    KNOWLEDGE   //    

//COLOR FONDO
.container-know{
    background-color: $dark-background;
}
//COLOR TITULOS
.know-title{
    color: $white-color;
}
//COLOR TEXTO
.know-grid P{
   color: $white-color;
}
//COLOR ICONOS
.know-icon{
    color: $white-color;
}




    //   SLIDER PROYECTS    //

//COLOR BOTONES DIRECCIONES

//COLOR DE LAS BARRAS INFERIORES
.barras{
    &_bar{
        background-color: $dark-background;
    }
    &_active{
        background-color: $form;
    }
}

.allProyects{

        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
}

//PROYECTO SLIDER 1
.vid-pro{
    width: 100%;
}

.develop-pro{
    background-color: $dark-color;
    width: 100%;
    height: 100%;
    transform: scale(0.0000001);
    top: 0;
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: all 1.5s;
    opacity: 0.9;

    &_icons{
        width: 150px;
        height: 150px;
        margin: 10%;
    }
}
.allProyects_1:hover .develop-pro{
     transform: scale(1);

}


//PROYECTO SLIDER 2








    //   CONTACT ME     CONTACT ME//

//COLOR TEXTO E ICONOS (CONTACTAME)
.icon-contact{
    text-decoration: none;
    color: $white-color;
    &_mail{
        text-decoration: none;
        color: $white-color;
    }
    & p{
        
        color:$white-color;      
    }
}
//COLOR TEXTO E ICONOS (DESCUBRE MAS SOBRE MI)
.icon-des{
    text-decoration: none;
    color: $white-color;    
}
//COLOR LINK FLATICON (ACERCA DE ESTE PROYECTO)
.link-flaticon{
    text-decoration: none;
    color: $white-color;
}
//COLOR TEXTOS (OTROS RECURSOS)
.resources{
    text-decoration: none;
    color: $white-color;
}



     //  FLECHA UP     FLECHA UP    //

.container-icon-up{

    background-color:$dark-background;
    & a{
        text-decoration: none;
        color: $white-color;
    }
    }