//BODY   BODY //

//FONDO
.body-theme{
background-color: $background-body;
}

/* SIN BARRA DE SCROLL 
.body-cover_page{
   
    &::-webkit-scrollbar{
        display: none;
    }
}*/




   // HEADER    HEADER  //
   
// FONDO DEL HEADER
.main-header{
    background-color: $white-background;
}
// BOTONES LETRAS DEL HEADER
.header_botons{
    
    color: $secundary-color;   

    @media screen and (max-width: $tablet-s){ 
        color: $form;
            }
}
.header_botonsEN{
    
    color: $secundary-color;   

    @media screen and (max-width: $tablet-s){ 
        color: $form;
            }
}




   // PICTURE AND DESCRIPTION //

// FONDO COLOR 

.container-general-photo-name{
   
    background-color: $white-background;
    
}

//COLOR DE TEXTO
.name{
    color: $background-body;
}
//COLOR PROFESION
.profession{
    color: $background-body;
}

// COLOR DE LAS LETRAS SBS
.name-color{
    color: $background-body;
    
}


//     TITULOS DE LAS SECCIONES 

.title-L{
    color: $white-color;
    z-index: 10;
}
.title-R{
    color: $dark-color;
    z-index: 10;
}




    //  ABOUT ME    ABOUT ME    ABOUT ME  //

// FONDO COLOR
.container-about{
    background-color: $dark-background;
}

//DEGRADADO DE LA IMAGEN 
.am-section-b_image::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:  radial-gradient(circle, rgba(0, 0, 0, 0.055) 30%, rgba(8, 8, 8, 0.61) 50%);

}

.am-section-a_text{
    color: $white-color;
    }

.am-section-a_text-english{
        color: $white-color;
        }




    //   TIME LINE      TIME LINE   //

//FONDO COLOR
.container-tl{
    background-color: $white-background;
}

    //   KNOWLEDGE    KNOWLEDGE   //    

//COLOR FONDO
.container-know{
    background-color: $dark-background;
}
//COLOR TITULOS
.know-title{
    color: $white-color;
}
//COLOR TEXTO
.know-grid P{
   color: $white-color;
}
//COLOR ICONOS
.know-icon{
    color: $white-color;
}




    //   SLIDER CERTIFICATIONS    //

//COLOR BOTONES DIRECCIONES

//COLOR DE LAS BARRAS INFERIORES
.bar{
        background-color: $dark-background;
    
    &_active{
        background-color: $form;
    }
    }

    .imgSlider{
        background-color: $dark-background;
    }

    .container-app{
        background-color: $dark-background;

        @media screen and (max-width: $tablet-s){ 
           background-color: $white-color;

             }
    }
    //   CONTACT ME     CONTACT ME//

//COLOR TEXTO E ICONOS (CONTACTAME)
.icon-contact{
    text-decoration: none;
    color: $white-color;
    &_mail{
        text-decoration: none;
        color: $white-color;
    }
    & p{
        
        color:$white-color;      
    }
}
//COLOR TEXTO E ICONOS (DESCUBRE MAS SOBRE MI)
.icon-des{
    text-decoration: none;
    color: $white-color;    
}
//COLOR LINK FLATICON (ACERCA DE ESTE PROYECTO)
.link-flaticon{
    text-decoration: none;
    color: $white-color;
}
//COLOR TEXTOS (OTROS RECURSOS)
.resources{
    text-decoration: none;
    color: $white-color;
}



     //  FLECHA UP     FLECHA UP    //

.container-icon-up{

    background-color:$dark-background;
    & a{
        text-decoration: none;
        color: $white-color;
    }
    }