/* SIN BARRA DE SCROLL 
.body-cover_page{
   
    &::-webkit-scrollbar{
        display: none;
    }
}*/
/*EFECTO SOMBRA 3D*/


   /*EFECTO SOMBRA 3D*/



/*IMAGEN DEL BODY*/ 
.body-theme{
background-color: $background-body;

}
/*IMAGEN FONDO PORTADA*/

.primary-theme{
    width: $margenes;
    height: 680px;
    margin-left: auto;
    margin-right: auto;
    /*background:url(../../Images/blue.jpg) center;*/
    background-color:  $white-background; /* CREO QUE QUEDA MEJOR EL BACKGROUND EN BLANCO */
    background-size: cover;
}

.main-header{
    background-color: $dark-color;
}


/* Botones del header */
.header_botons{
    
    color: $secundary-color;
   
}

/*TEXTO DE PORTADA*/

.my_name{
    color:$secundary-color;
}
.name{
    color: rgb(7, 7, 7);
}
.profession{
    color: rgb(2, 2, 2);
}
.iconos-cover a{
    color: $dark-color;
}
/*TITULOS*/
.title-L{
    color: $white-color;
}
.title-R{
    color: $dark-color;
}
/*ACERCA DE MI*/

.container-about{
    background-color: $dark-color;
}


.am-section-a_button-cv{
    background-color: $secundary-color;
    color: $white-color;
    
}
.am-section-a_text{
        color: $white-color;
    }

/*CONOCIMIENTOS*/    
.container-know{
    background-color: $white-background;
}
.know-title{
    color: $dark-color;
}
.know-icon{
    color: $dark-color;

}

/*SLIDER PROYECTS*/

.but-dir{
    color: $white-color;
    display: inline-block;
    background-color: transparent;
    padding: 20px;
    cursor: pointer;
    outline: none; /*elimina el radius-border por defecto del button*/
    border: 0;    
}
.barras{
    &_bar{
        cursor: pointer;
        height: 3px;
        width: 25px;
        margin: 0 2px;
        background-color: white;
        display: inline-block;
        margin-left: 3px;
    }
    &_active{
        background-color: $secundary-color;
    }
}

/* IMAGENES DE LOS CURSOS DEL SLIDER*/

.allProyects{
    &_1{
        background: red;
        width: 100%;
        height: 100%;
        position: absolute;
       
    }
    &_2{
        background:rgb(130, 130, 201);
        width: 100%;
        height: 100%;
        position: absolute;}
    &_3{
        background:red;
        width: 100%;
        height: 100%;
        position: absolute;}
    &_4{
        background:blue;
        width: 100%;
        height: 100%;
        position: absolute;}
    &_5{
        background:red;
        width: 100%;
        height: 100%;
        position: absolute;}
    &_6{
        background:blue;
        width: 100%;
        height: 100%;
        position: absolute;}
}


/*FOOTER*/

.footer-botons{
    color: $secundary-color;
}