
//CONTENEDOR     
.container-about{
    max-width: $maxWidht;
    width: $margenes;
    height: $sections;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    z-index: 20;
    @media screen and (max-width: $FHD){ 
        height: $sectionsFHD;
    }
    @media screen and (max-width: $HD){ 
        width: 100%;
    }
    @media screen and (max-width: $tablet){ 
        height: $sectionsTablet;
}
@media screen and (max-width: $tablet-s){ 
    justify-content: center;
    height: 700px;
}
&_title{
        
    position: absolute;
    left: $margen-title-lat;
    top: $margen-title-sup;
    @media screen and (max-width: $FHD){ 
        left: $margen-title-lat-FHD;
        top: $margen-title-sup-FHD;
        }
    @media screen and (max-width: $tablet){ 
            left: $margen-title-lat-tablet;
            top: $margen-title-sup-tablet;
            }
}
}
    

//PARTE IZQUIERDA
.am-section-a{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    @media screen and (max-width: $tablet-s){ 
     width: 90%;
    
        }
    
    
    &_containertext{
        width: 70%;
        height: 200px;
        position: absolute;
        left: $margen-title-lat;  
        top: 200px;  
       
    @media screen and (max-width: $FHD){ 
        left: $margen-title-lat-FHD;
        top: 160px;
        } 
     @media screen and (max-width: $tablet){ 
            left: $margen-title-lat-tablet;
            top: 120px;
            }
            @media screen and (max-width: $tablet-s){ 
             left: 0;
             right: 0;
             margin: auto;   
             height: 220px; 
             width: 80%;      
                }
    }   
    }   
    


//POSICION BOTON CV

.container-cv{
max-width: 25%;
max-height: 10%;
width: auto;
height: auto;
display: flex;
justify-content: space-around;
align-items: center;
position: absolute;
bottom: 5px;
left: 0;
right: 0;
margin: auto; 
}
.icon-cv{
    font-size: $xl;
    color: $white-color;
    cursor: pointer;
    &:hover{
        color: $secundary-color;
    }
}
.text-cv{
    color: $white-color;
    font-family: cursive;
    font-size: $xl;
    @media screen and (max-width: $FHD){ 
        font-size: $l;}
    @media screen and (max-width: $HD){ 
     font-size: $m;}
}



//PARTE DERECHA
.am-section-b{
width: 40%;
height: 100%;   
position: relative;
display: flex;
justify-content: center;
@media screen and (max-width: $tablet-s){ 
    display: none;
    }
//ESTILOS DE LA IMAGEN 
&_image{
    width: 100%;
    height: 100%;
    background: url(../../Images/photo2.jpg) center;
    background-position: cover;
    background-size: 670px;
    background-repeat: no-repeat;
    @media screen and (max-width: $FHD){ 
        background-size: 540px;
    }
    @media screen and (max-width: $tablet){ 
        background-size: 410px;
        }
       
}
  
}    

//DEGRADADO DE LA IMAGEN 
.am-section-b_image::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:  radial-gradient(circle, rgba(0, 0, 0, 0.055) 30%, rgba(8, 8, 8, 0.603) 50%);
    @media screen and (max-width: $FHD){ 
        width: 100%;
        height: 100%;
    }
}




// FORMAS

.forms-am{
    min-width: 18%;
    min-height: 20%;
    width: auto;
    height: auto;
    background-color: $special-color;
    position: absolute;
    bottom: 0;
    z-index: 0;
    left: 40%;
    @media screen and (max-width: $tablet-s){ 
        left: 75%;
     }
}