.container-footer{
    max-width: $maxWidht;
    width: $margenes;
    height:$sections;
    margin-left: auto;   
    margin-right: auto;
    background-color: $dark-background;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: $FHD){ 
        height: $sectionsFHD;
        }
    @media screen and (max-width: $HD){ 
        width: 100%;
            }
    @media screen and (max-width: $tablet){ 
        height: $sectionsTablet;
            }
    &_title{
        position: absolute;
        left: $margen-title-lat;
        top: $margen-title-sup;
        @media screen and (max-width: $FHD){ 
            left: $margen-title-lat-FHD;
            top: $margen-title-sup-FHD;
            }
            @media screen and (max-width: $tablet){ 
                left: $margen-title-lat-tablet;
                top: $margen-title-sup-tablet;
                }
        }
  
}
.footer-up{
    position: absolute;
    right: 0;
    left: 0;
    top: 170px;
    margin: auto;
    width: 70%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: $FHD){ 
        height: 200px;
        }
        @media screen and (max-width: $tablet){ 
           height: 140px;
           top: 130px;
                }
}
.footer-down{
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    bottom: 60px;
    width: 70%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: $FHD){ 
        height: 200px;
        }
        @media screen and (max-width: $tablet){ 
            height: 140px;
            bottom: 25px;;
            
                }
}

.section-footer{
    
    &_A{
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media screen and (max-width: $tablet){ 
            height: 100%;
                }

    }
    &_B{
       width: 100%;
       height: 200px;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       @media screen and (max-width: $tablet){ 
        height: 100%;
            }
    }
    &_C{
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (max-width: $tablet){ 
            height: 100%;
                }
        & p{
            font-size: $m;
            margin-top: 5px;
            @media screen and (max-width: $FHD){ 
                font-size: $xs;
                    }
        }
    }
    &_D{
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media screen and (max-width: $tablet){ 
            height: 100%;
                }
        
    }
    &_title {
        margin-left: auto;
        margin-right: auto;
        font-size: $xl;
        margin-bottom: 25px;
        margin-top: 9%;
        color: $white-color;
        font-family: 'Merienda', cursive;
        @media screen and (max-width: $FHD){ 
            font-size: $l;
            }
            @media screen and (max-width: $tablet){ 
                font-size: $s;
                margin-top: 10px;
                margin-bottom: 10px;
                    }
        }
    
}

// DIV DE LOS ICONOS DE MADE WITH
.container-icons-md{
    @media screen and (max-width: $tablet){ 
        height: 30px;
            }
}



//FORMAS 
.forms-cm{
    min-width: 18%;
    min-height: 20%;
    width: auto;
    height: auto;
    background-color: $special-color;
    position: absolute;
    top: 0;
    z-index: 0;
    left: 41%;
}
