.container-footer{
    max-width: $maxWidht;
    width: $margenes;
    height:$sections;
    margin-left: auto;   
    margin-right: auto;
    background-color: $white-background;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-up{
    position: absolute;
    right: 0;
    left: 0;
    top: 170px;
    margin: auto;
    width: 70%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-down{
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    bottom: 60px;
    width: 70%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-footer{
    
    &_A{
        width: 100%;
        height: 200px;
        background-color: $white-background;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }
    &_B{
       width: 100%;
       height: 200px;
       display: flex;
       flex-direction: column;
       align-items: flex-start
    }
    &_C{
        width: 100%;
        height: 200px;
        background-color: $white-background;
        display: flex;
        flex-direction: column;
        align-items: center;
        & p{
            font-size: $m;
            margin-top: 5px;
        }
    }
    &_D{
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
    }
    &_title {
        margin-left: auto;
        margin-right: auto;
        font-size: $xl;
        margin-bottom: 25px;
        margin-top: 9%;
        color: $dark-color;
        }
    
}



