//CONTENEDOR
.container-courses{
    max-width: $maxWidht;
    width: $margenes;
    height: $sections;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    position: relative;
    display: flex;
    align-items: flex-end;
    @media screen and (max-width: $FHD){ 
        height: $sectionsFHD;
    }
    @media screen and (max-width: $HD){ 
        width: 100%;
    }
    @media screen and (max-width: $tablet){ 
        height: $sectionsTablet;
    }
    &_title{
        
        position: absolute;
        left: $margen-title-lat;
        top: $margen-title-sup;
        @media screen and (max-width: $FHD){ 
            left: $margen-title-lat-FHD;
            top: $margen-title-sup-FHD;
            }
            @media screen and (max-width: $tablet){ 
                left: $margen-title-lat-tablet;
                top: $margen-title-sup-tablet;
                }
}
}
//CONTENEDOR LISTAS DE CURSOS
.courses-list-container{
    width: 82%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: scroll;   //HACE APARECER LA BARRA DE SCROLL DENTRO DE UN DIV
    @media screen and (max-width: $FHD){ 
    height: 55%;
    }
    
}
.course-name{
    margin-left: 50px;
}
