.container-footer{
    width: $margenes;
    height:$sections/2;
    margin-left: auto;   
    margin-right: auto;
    background-color: $white-background;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &_title{
        
        position: absolute;
        right: $margen-title-lat;
        top: $margen-title-sup;
}
}

.section-footer{

    &_A{
        width: 100%;
        height: 100%;
        background-color: red;


    }
    &_B{
        width: 100%;
        height: 100%;
        background-color: aqua;
    }
}

