
.bye{
    max-width: $maxWidht;
    width: $margenes;
    height:27%;
    margin-left: auto;   
    margin-right: auto;
    position: relative;
    display: flex;
    justify-content: center;
    background: linear-gradient(0deg, rgb(68, 68, 68) 0%, rgba(255,255,255,1) 90%);
    @media screen and (max-width: $HD){ 
        width: 100%;
            }
            @media screen and (max-width: $tablet){ 
                height: 200px;
                    }
                    @media screen and (max-width: 610px){ 
                        height: 150px;
           
                           }
                                  
}

.thanks{
    font-family: 'Merienda', cursive;
    position: absolute;
    z-index: 10;
    top: 30%;
    font-size: $xxxxl;
    color: $dark-background;
    @media screen and (max-width: $tablet){ 
        font-size: $xl;
            }
            @media screen and (max-width: 610px){ 
                font-size: $m;
                   }
                   @media screen and (max-width: $phone){ 
                   font-size: $s;
                     }
}