.container-know{
    max-width: $maxWidht;
    width: $margenes;
    height: $sections;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    @media screen and (max-width: $FHD){ 
        height: $sectionsFHD;
    }
    @media screen and (max-width: $HD){ 
     width: 100%;
    }
    @media screen and (max-width: $tablet){ 
        height: $sectionsTablet;
    }
    @media screen and (max-width: $tablet-s){ 
        
        height: $sectionTabletS;
        }

    &_title{
        
            position: absolute;
            left: $margen-title-lat;
            top: $margen-title-sup;
        @media screen and (max-width: $FHD){ 
            left: $margen-title-lat-FHD;
            top: $margen-title-sup-FHD;
                }
                @media screen and (max-width: $tablet){ 
                    left: $margen-title-lat-tablet;
                    top: $margen-title-sup-tablet;
                    }
    }
}

.section-know{
    width: 100%;
    height: 68%;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; //Para deistribuir los elementos por en filas de 3

    @media screen and (max-width: $tablet-s){ 
        
        grid-template-columns: 50% 50%;
        bottom: 5%;
        }
}
.know-grid{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    animation-name: agrandar;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    transform: scale(0.001);
   
    @media screen and (max-width: $FHD){ 
    justify-content: flex-start;
    }
    }
    @keyframes agrandar{
        0%{
            transform: scale(0.001);
        }
        100%{
            transform: scale(1);
        }
    }      
.know-icon{
    font-size: $xxxl * 2; 
    @media screen and (max-width: $FHD){ 
    font-size: $xxxl * 1.3;
    }
    @media screen and (max-width: $tablet){ 
        font-size: $xxxl;
        }
        @media screen and (max-width: $tablet){ 
          font-size: $xxxl * 1.2;
            }
}
   
    /*CAMBIA EL TAMAÑO DE ALGUNOS ICONOS DE CONOCIMIENTOS*/
.smll{
        font-size: $xxxl * 1.4;  
        margin-top: 20px;  
        @media screen and (max-width: $FHD){ 
        font-size: $xxxl *1.1;
        margin-top: 5px;
        }  
        @media screen and (max-width: $tablet){ 
            font-size: $xxl;
            }
             @media screen and (max-width: $tablet){ 
                 font-size: $xxxl;
                    }
        }  
   
/*descripcion */
.know-icon p{
    width: 50%;
    margin: auto;
    font-size: $s;
    font-family: 'Merienda', cursive;
    color: $dark-color;
    @media screen and (max-width: $FHD){ 
    font-size: $xs;
    width: 60%;
    }
    @media screen and (max-width: $tablet){ 
        font-size: $xss;
        }
        @media screen and (max-width: $tablet-s){ 
           font-size: $xsss;
            }
}


.forms-kn{
    min-width: 18%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-color: rgb(196, 30, 30);
    background-color: $special-color;
    position: absolute;
    bottom: 0;
    z-index: 0;
    left: 41%;
    @media screen and (max-width: $tablet){ 
        left: 75%;
        }

}