/*CONTENEDOR DE LA SECCION DESCRIPCION*/

.container-pd{
@media screen and (max-width: $ultraHD){        
    
max-width: $maxWidht;
width: $margenes;
height: 700px;
margin-left: auto;
margin-right: auto;
   &_description{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;}
}
@media screen and (max-width: $FHD){ 
    height: 600px;
}
@media screen and (max-width: $HD){ 
    width: 100%;
}
@media screen and (max-width: $tablet){ 
    height: 450px;
}
@media screen and (max-width: $tablet-s){ 
    height: 330px;
            }
    
}



/* DIV DE LA FOTO*/
.picture-cover{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    position: relative;
      overflow: hidden;
    }
    .photo{
        position: absolute;
        max-width: 1000px;
        max-height: 700px;
        width: auto;
        height: auto;
        bottom: -100px;
        left: 150px;
        @media screen and (max-width: $FHD){ 
            max-width: 800px;
            max-height: 600px;
            left: 150px;
        }
        @media screen and (max-width: $tablet){ 
            max-width: 600px;
            max-height: 500px;
            left: 100px;
            }
        @media screen and (max-width: $tablet-s){ 
                max-width: 400px;
                max-height: 400px;
                left: 50px;
                }
    }
    /*&_img{
        width: 100%;
        height: 100%;
        background:url(../../Images/yoTop.png);
        background-repeat: no-repeat;
        background-size: 97%;
        background-position: 10PX 100px;
    }*/
    
   


/*CONTENEDOR DE MI DESCRIPCION*/

.description-cover{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}
