// CONTENEDOR DE ANIMACION HELLO WORD!

.container-hw
{
    @media screen and (max-width: $ultraHD){ 
        display: none;
    }
    @media screen and (max-width: $tablet-s){ 
    width: auto;
    height: 17vh; //25% de el largo de la pantalla vista 
    background-color: $dark-background;
    display: flex;
    justify-content: center;
    align-items: center;
}
}

.text-animation{
    @media screen and (max-width: $ultraHD){
        display: none;}
        
    @media screen and (max-width: $tablet-s){ 
  display: block;
  height: 40px;
  white-space: nowrap;
  overflow: hidden; 
  font-family: 'Source Code Pro', monospace;  
  font-size: $xxxl;
  color: rgba(255, 255, 255, 0.596);
  position: relative;
  animation: machine 4s steps(30,end)infinite normal both;
    & span{
        border-bottom: solid 3px $secundary-color;
        position: absolute;
        right: -7px;
        width: 20px;
        animation: animated-cursor 600ms steps(30,end) infinite; 
    }
}
}

@keyframes machine{
 from{
     width: 0;
 }
to{
    width: 250px;
}}

@keyframes animated-cursor{
    from{border-bottom-color: $secundary-color}
    to{border-bottom-color: transparent;}
  }












/*CONTENEDOR DE LA SECCION DESCRIPCION*/

.container-pd{
@media screen and (max-width: $ultraHD){        
    
max-width: $maxWidht;
width: $margenes;
height: 700px;
margin-left: auto;
margin-right: auto;
overflow: hidden;
  
}
@media screen and (max-width: $FHD){ 
    height: 600px;
}
@media screen and (max-width: $HD){ 
    width: 100%;
}
@media screen and (max-width: $tablet){ 
    height: 450px;
}
@media screen and (max-width: $tablet-s){ 
    height: 600px;}

    &_description{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
   
    }
    
}




/* DIV DE LA FOTO*/
.picture-cover{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    }
    
.photo{
        position: absolute;
        max-width: 1000px;
        max-height: 700px;
        width: auto;
        height: auto;
        bottom: -100px;
        left: 150px;
        @media screen and (max-width: $FHD){ 
            max-width: 800px;
            max-height: 600px;
            left: 150px;
        }
        @media screen and (max-width: $tablet){ 
            max-width: 600px;
            max-height: 500px;
            left: 100px;
            }
            @media screen and (max-width: $tablet-s){ 
               
                left: 0;
                right: 0;
                margin: auto;
                }
       
    }
 



    
    /*CONTENEDOR DE MI DESCRIPCION*/

.description-cover{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    position: relative;
    @media screen and (max-width: $tablet-s){ 
    flex: none;
    width: 100%;
    height: 40%;
    position: absolute;
    margin: auto;

     }
}




// DESPLEGABLE OCULTO DEL HEADER

   .header-hidden{
    @media screen and (max-width: $ultraHD){ 
        display: none;
     }
    @media screen and (max-width: $tablet-s){       
       width: 40%;
       height: 100%;
       background-color: rgba(0, 0, 0, 0.829);
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       position: absolute;
       right: 0;
       transition: 1s;
       transform: translate(500px);
    
    &.header-activate{
    transform: translate(0);
    transition: 1;
    }
   }
   }
  
   
   .arrow-list{
@media screen and (max-width: $ultraHD){  
    display: none;
}
@media screen and (max-width: $tablet-s){    
display: block;     
position: absolute;
right: 10px;
color: $secundary-color;
font-size: $xxxl * 1.2;
cursor: pointer;
&.arrow-change{
    transform: rotate(180deg);
    z-index: 10;
}
   }
   }



