
/*SECCION CONTENEDOR PROYECTOS*/

.container-proyects{
    max-width: $maxWidht;
    width: $margenes;
    height: $sections;
    background-color: $white-background;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    @media screen and (max-width: $FHD){ 
        height: $sectionsFHD;
        }
    @media screen and (max-width: $HD){ 
        width: 100%;
            }
    @media screen and (max-width: $tablet){ 
        height: $sectionsTablet;
            }
            @media screen and (max-width: 650px){ 
               height: $sectionsTablet - 40px;;
                  }
    &_title{
        position: absolute;
        right: $margen-title-lat;
        top: $margen-title-sup;
        @media screen and (max-width: $FHD){ 
            right: $margen-title-lat-FHD;
            top: $margen-title-sup-FHD;
            }
            @media screen and (max-width: $tablet){ 
                right: $margen-title-lat-tablet;
                top: $margen-title-sup-tablet;
                }
        }
}


/*SLIDER*/

.slider-container{
    width: 75%;
    height: 58%;
    position: relative;
    transition: 2s;
    margin-bottom: 80px;
    @media screen and (max-width: $FHD){ 
    height: 55%;   
    width: 70%;
    }
    @media screen and (max-width: $tablet){ 
        margin-bottom: 60px;
        width: 75%;
        }
        @media screen and (max-width: $tablet-s){ 
            margin-bottom: 50px;
              }
           
}


/*BARRAS INFERIORES DEL SLIDER*/
.barras{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
    margin-bottom: 3%;
    @media screen and (max-width: $FHD){ 
        margin-bottom: 3.5%;
        }    
        
}



/*ANIMACION OPACIDAD DE FOTO*/
.animation-opacity{
    animation-name:ani;
    animation-duration: 3s;
}
@keyframes ani{
    from{
        opacity: 0.3;
    }
    to{
        opacity: 1;
    };
}



// IMAGENES DE LOS SLIDERS

.img-slider{
    width: 100%;
    width: 100%;
}

//formas

.forms-pro{
    min-width: 18%;
    min-height: 8%;
    width: auto;
    height: auto;
     position: absolute;
     top: 0;
     background-color: $strong-color;
     right: 3%;
 }   