.container-tl{
    max-width: $maxWidht;
    width: $margenes;
    height: $sections;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    @media screen and (max-width: $FHD){ 
        height: $sectionsFHD;
    }
    @media screen and (max-width: $HD){ 
        width: 100%;
    }
    @media screen and (max-width: $tablet){ 
        height: $sectionsTablet;
    }
    &_title{
        
            position: absolute;
            right: $margen-title-lat;
            top: $margen-title-sup;
        @media screen and (max-width: $FHD){ 
            right: $margen-title-lat-FHD;
            top: $margen-title-sup-FHD;
            }
            @media screen and (max-width: $tablet){ 
                right: $margen-title-lat-tablet;
                top: $margen-title-sup-tablet;
                }
    }
}

.section-tl{
    width: 100%;
    height: 70%;
    background: url(../../Images/tm.jpg) center;
    background-size: 80%;
    background-repeat: no-repeat;
    margin-bottom: 5%;
    }
  
    
 .forms-tl_left{
    min-width: 30%;
    min-height: 22%;
    width: auto;
    height: auto;
     position: absolute;
     top: 0;
     background-color: $strong-color;
     left: 6%;
     @media screen and (max-width: $tablet-s){ 
        
        left: 20%;
        min-width: 40%;
     }
 }   

 .forms-tl_right{
    min-width: 18%;
    min-height: 20%;
    width: auto;
    height: auto;
     position: absolute;
     bottom: 0;
     background-color: $strong-color;
     right: 3%;
 }   
