.container-tl{
    max-width: $maxWidht;
    width: $margenes;
    height: $sections;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    &_title{
        
            position: absolute;
            right: $margen-title-lat;
            top: $margen-title-sup;
    }
}

.section-tl{
    width: 100%;
    height: 70%;
    background: url(../../Images/timelin.jpg) center;
    background-size: 80%;
    background-repeat: no-repeat;
    margin-bottom: 5%;
   
}