
/*HOVER BOTONES HEADER*/
.header_botons:hover{
    transform: scale(1.2);
    color: $background-body;
    transition: all 0.5s;
}
.botton-theme:hover{
    background-color: blue;
}

.iconos-cover a:hover{
  color: $secundary-color;
}


/*HOVER FLECHAS SLIDER*/
.icons-arrow:hover{
  
    color: $dark-color;
    transition: all 1s;
}

 

/*FOOTER*/
.link-footer{
    
    &:hover{
        color: $secundary-color;
    }
}

/*FLECHA PARA IR AL INICIO DE PAGINA*/

.container-icon-up a:hover{
    color: $white-color;
}