
/*HOVER BOTONES HEADER*/
.header_botons:hover{
    color: $white-color;
}
.botton-theme:hover{
    background-color: blue;
}

.iconos-cover a:hover{
  color: $secundary-color;
}

/*HOVER FLECHAS SLIDER*/
.directions button:hover{
    color: $white-color;
    background-color: rgb(0, 0,0 , 0.5);
}

     /*CURSOS*//*CURSOS*//*CURSOS*//*CURSOS*//*CURSOS*/

.course-name a:hover{
color: $secundary-color;
}

/*FOOTER*/
.link-footer{
    
    &:hover{
        color: $secundary-color;
    }
}

/*FLECHA PARA IR AL INICIO DE PAGINA*/

.container-icon-up a:hover{
    color: $white-color;
}