
/*HOVER BOTONES HEADER*/
.header_botons:hover{
    color: $white-color;
}
.botton-theme:hover{
    background-color: blue;
}

.iconos-cover a:hover{
  color: $secundary-color;
}

/*HOVER FLECHAS SLIDER*/
.icons-arrow:hover{
    color: $white-color;
}

     /*CURSOS*//*CURSOS*//*CURSOS*//*CURSOS*//*CURSOS*/

.course-name a:hover{
color: $secundary-color;
}

/*FOOTER*/
.link-footer{
    
    &:hover{
        color: $secundary-color;
        background-color: rgba(255, 255, 255, 0.678);
    }
}

/*FLECHA PARA IR AL INICIO DE PAGINA*/

.container-icon-up a:hover{
    color: $white-color;
}