
*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-size: $s;
    position: relative;
    margin-bottom: $margenes-body;
    margin-top: $margenes-body;
    }

/* ESTILOS DE LA BARRA DE SCROLL */
    ::-webkit-scrollbar{
        width: 12px;
        background-color: #070707;
    }
    ::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
        background-color:$dark-background;
    }
    ::-webkit-scrollbar-thumb{
        background-color: $secundary-color;
        background-image: -webkit-linear-gradient(90deg,transparent,rgba(0, 0, 0, 0.4) 50%,transparent,transparent)
    }

