
   // HEADER    HEADER //

//BOTONES HEADER
.header_botons{
    cursor: pointer;
    text-decoration: none;
    font-size: $s;
    padding: 7px 10px;
    margin: 6px;
    font-family: 'Questrial', sans-serif;
}




    // PICTURE AND DESCRIPTION //


// NOMBRE
.name{
    font-size: $xxxl * 1.7;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Questrial', sans-serif;
    @media screen and (max-width: $FHD){ 
        font-size: $xxxl * 1.3;
}
}
//PROFESION
.profession{
    font-size: $xl;
    font-family: 'Questrial', sans-serif;
    @media screen and (max-width: $FHD){ 
        font-size: $l;
    }
}




    // TITULOS DE LAS SECCIONES  //

.titles{
font-size: $xxxxl * 1.3;
font-family: 'Questrial', sans-serif;

//BARRA INFERIOR TITULOS SECCIONES
&::after{
    content: "";
    height: 5px;
    width: 200px;
    background-color: $secundary-color;
    position: absolute;
    left: calc(50% - 100px);
    bottom: -10px;    
    
}
@media screen and (max-width: $FHD){ 
    font-size: $xxxxl * 1.1;
}
}




    // ABOUT ME    ABOUT ME //

//TEXTOS Y BOTONES DE LA SECCION A     
.am-section-a{    
    &_title{
        position: absolute;
        left: $margen-title-lat;
        top: $margen-title-sup;
    }    
    &_text{
        font-size: $m;
        font-family: 'Questrial', sans-serif;
    }
    &_button-cv{
    font-size: $l;
    text-decoration: none;
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-family: 'Questrial', sans-serif;
} 
}





    // COURSES  COURSES //

//TITULO 
.course-title{
font-size: $l * 2.1;
font-family: 'Questrial', sans-serif;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
margin-bottom: 20px;
@media screen and (max-width: $FHD){ 
    font-size: $l * 1.5;
}
}
//NOMBRES CURSOS
.course-name p{
font-size: $xxl;
display: inline-block;
margin: 0;
margin-top: 30px;
@media screen and (max-width: $FHD){ 
    font-size: $xl;
}
}
//ICONO DE MAS INFO
.more-info{
    font-size: $l;
    margin-left: 30px;
}




    // KNOWLEDGE    KNOWLEDGE //
.know-title{
    font-size: $xl;
    font-family: 'Questrial', sans-serif;
    @media screen and (max-width: $FHD){ 
    font-size: $l;
    }
}   




    //   SLIDER PROYECTS    //

// COLOR BOTONES DIRECCIONES
.icons-arrow{
    width: auto;
    height: auto;
    font-size: $xxxl * 1.5;
    position: absolute;
    cursor: pointer;
    color: $secundary-color;
    &_right{
    right: 8%;
    bottom: 35%;   
    }
    &_left{
    left: 8%;
    bottom: 35%;  
    }
}
.barras{
    &_bar{
        cursor: pointer;
        height: 3px;
        width: 25px;
        margin: 0 2px;
        display: inline-block;
        margin-left: 3px;
    }
}
  
   


    // CONTACT ME     CONTACT ME //


/*ICONOS DE LA SECCION DE CONTACTOS*/
.icon-contact{
    font-size: $xl;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20%;
    margin-bottom: 2%;
    & p{
        font-size: $m;
        display: inline-block;
        margin: 0;
        margin-left: 20px;
    }
}

// TEXTOS E ICONOS (DESCUBRE MAS SOBRE MI)
.icon-des{
        font-size: $xl;
        display: flex;
        align-items: flex-start;
        margin-left: 36%;
        text-decoration: none;
        margin-top: 5px;
        & p{
            margin: 0;
            font-size: $m;
            margin-left: 10px;
        }
        &_follow{
            font-size: $m;
            margin-bottom: 10px;
        }
}

// TEXTOS ACERCA DE ESTE PROYECTO/
.madeWith{
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
    &_JS{
        width: 34px;
        height: 34px;
    }
}

// TEXTOS OTROS RECURSOS
.resources{
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 38%;
    font-size: $m;
}





    // BOTON UP    BOTON UP //

// ESTILOS
.container-icon-up{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 28px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    & a{
        font-size: $xxl;
        width: auto;
        height: auto;

    }
    }




// SECCION DE DESPEDIDA
   
.despedida{
    font-family: 'Questrial', sans-serif;
    color: $background-body;
    animation-name:change;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 3ms;
   
    }
    @keyframes change{
        from{
            color: $secundary-color;
        }
        to{
            color: $white-color;
        };
    }
