
   // HEADER    HEADER //

//BOTONES HEADER IDIOMA ESPAÑOL
.header_botons{
    cursor: pointer;
    text-decoration: none;
    font-size: 19px;
    padding: 7px 10px;
    margin: 2px;
    font-family: 'Merienda', cursive;
    z-index: 2;
    -webkit-tap-highlight-color: transparent;
    @media screen and (max-width: 1385px){ 
    font-size:17px;
    margin: auto;}
    @media screen and (max-width: 1385px){ 
        font-size:16px;
    }
    @media screen and (max-width: 1200px){ 
        font-size:17px;
    }
    @media screen and (max-width: 1125px){ 
        font-size:16px;
    }
    @media screen and (max-width: 1045px){ 
        font-size:15px;
    }
    @media screen and (max-width: 965px){ 
        font-size:14px;
    }
    @media screen and (max-width: 920px){ 
        font-size:13px;
    }

    @media screen and (max-width: 850px){ 
        font-size: 12px;
}
@media screen and (max-width: $tablet-s){  //El header pasa a ser un nav desplegable
    font-size: $xxl;
    padding: 0;
    margin: 0;
    margin-left: 6%;
}
@media screen and (max-width: 560px){  //Cuestion de resolucion
    font-size: $xl;
}
@media screen and (max-width: 490px){  
    font-size: $l* 1.1;
}
}

// BOTONES DEL HEADER IDIOMA INGLES

.header_botonsEN{
    cursor: pointer;
    text-decoration: none;
    font-size: $l;
    padding: 7px 10px;
    margin: 3px;
    font-family: 'Merienda', cursive;
    z-index: 2;
    -webkit-tap-highlight-color: transparent;

        @media screen and (max-width: 1385px){ 
            font-size:17px;
        }
        @media screen and (max-width: 1200px){ 
            font-size:18px;
        }
        @media screen and (max-width: 1125px){ 
            font-size:17px;
        }
        @media screen and (max-width: 1045px){ 
            font-size:15px;
        }
        @media screen and (max-width: 965px){ 
            font-size:14px;
        }
        @media screen and (max-width: 920px){ 
            font-size:13px;
        }
    
        @media screen and (max-width: 850px){ 
            font-size: 12px;}
@media screen and (max-width: $tablet-s){  //El header pasa a ser un nav desplegable
    font-size: $xxl;
    padding: 0;
    margin: 0;
    margin-left: 6%;
}
@media screen and (max-width: 560px){  //Cuestion de resolucion
    font-size: $xl;
}
@media screen and (max-width: 490px){  
    font-size: $l* 1.1;
}
}







    // PICTURE AND DESCRIPTION //


// NOMBRE
.name{
    font-size: $xxxl * 1.5;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Libre Caslon Text', serif;
    margin-right: 20px;
    @media screen and (max-width: $FHD){ 
        font-size: $xxxl * 1.2;
    }
    @media screen and (max-width: $HD){ 
        font-size: $xxxl * 1.1;
    }
    @media screen and (max-width: $tablet){ 
            font-size: $xxl - 1px;
}
@media screen and (max-width: $tablet-s){ 
    font-size: $xxxl * 1.3;
    margin-right: 0;
  
}
@media screen and (max-width: $phone-xl){ 
    
    font-size: $xxxl;}

@media screen and (max-width: $phone){ 
    font-size: $xxl;

       }
       }


//PROFESION
.profession{
    font-size: $xl;
    font-family: 'Libre Caslon Text', serif;
    margin-right: 20px;
    @media screen and (max-width: $FHD){ 
        font-size: $l;
    }
    @media screen and (max-width: $tablet){ 
        font-size: $m;
}
@media screen and (max-width: $tablet-s){ 
    font-size: $l;    
    margin-right: 0;
}
@media screen and (max-width: $phone){ 
    font-size: $m;

       }
}




    // TITULOS DE LAS SECCIONES  //

.titles{
font-size: $xxxxl * 1.3;
font-family: 'Merienda', cursive;

@media screen and (max-width: $FHD){ 
    font-size: $xxxl;
}
@media screen and (max-width: $tablet-s){ 
    font-size: $xxxl * 1.2;
}
@media screen and (max-width: $phone-xl){ 
    font-size: $xxxl * 1.1;
        }
        @media screen and (max-width: $phone){ 
         font-size: $xxl;
             }
    
//BARRA INFERIOR TITULOS SECCIONES 

&::after{
    content: "";
    height: 5px;
    width: 200px;
    background-color: $form;
    position: absolute;
    left: calc(50% - 100px);
    bottom: -10px;    
    @media screen and (max-width: $FHD){ 
    height: 4px;
    width: 170px;
    left: calc(50% - 85px);}
    @media screen and (max-width: $tablet){ 
        height: 3.5px;
        width: 120px;
        left: calc(50% - 60px);
        bottom: -5px;
    }
    @media screen and (max-width: $phone){ 
        width: 100px;
        left: calc(50% - 50px);

        }
    }
    }

  




    // ABOUT ME    ABOUT ME //

//TEXTOS     
.am-section-a{    
    
    &_text{
        font-size: 18px;
        font-family: 'Merienda', cursive;
        text-align: justify;
        line-height: 160%;
        @media screen and (max-width: $FHD){ 
            font-size: 15px;
        }
        @media screen and (max-width: $HD){ 
            font-size: 14px;
            line-height: 180%;
        }
        @media screen and (max-width: $tablet){ 
            font-size: 11.5px;
            line-height: 160%;
           
            }
            @media screen and (max-width: $tablet-s){ 
                font-size: 20px;

                }
                @media screen and (max-width: $phone-xl){ 
                    font-size: 15.8px;
    
                    }
                    @media screen and (max-width: $phone){ 
                        font-size: 13px;
                    
                           }
                           @media screen and (max-width: 350px){ 
                            font-size: 12px;
                        
                               }
        
    }
   
}


.text-cv{
    color: $white-color;
    font-family: 'Merienda', cursive;
    font-size: $xl;
    @media screen and (max-width: $FHD){ 
        font-size: $l;}
    @media screen and (max-width: $HD){ 
     font-size: $m;}
     @media screen and (max-width: $tablet){ 
        font-size: $s;
        }
        @media screen and (max-width: $tablet-s){ 
           font-size: $l;
         
        }
        @media screen and (max-width: $phone-xl){ 
            font-size: $m;

            }
        @media screen and (max-width: $phone){ 
            font-size: $xs;

            }
}

.icon-cv{
    font-size: $xl;
    color: $white-color;
    cursor: pointer;
    transform: translateY(-2px);
    -webkit-tap-highlight-color: transparent;
    @media screen and (max-width: $HD){ 
        font-size: 22px;
     
         }
    @media screen and (max-width: $tablet){ 
        transform: translateY(-3px);
        font-size: $l;

        }
        @media screen and (max-width: $tablet-s){ 
           font-size: $xxl;
        }
        @media screen and (max-width: $phone-xl){ 
            font-size: $xl;

            }
            @media screen and (max-width: $phone){ 
                font-size: $m;

                }
            
    &:hover{
        @media screen and (min-width: $HD){ 
        color: $form;
    }
}
}




    // KNOWLEDGE    KNOWLEDGE //
.know-title{
    font-size: $xl;
    font-family: 'Merienda', cursive;
    @media screen and (max-width: $FHD){ 
    font-size: $l;
    }
    @media screen and (max-width: $tablet){ 
      font-size: $s;
        }
    @media screen and (max-width: $tablet-s){ 
        font-size: $s;
          }
          @media screen and (max-width: $phone-xl){ 
            font-size: $xs;

            }
            @media screen and (max-width: $phone){ 
                font-size: $xss;
                 }
        
}   

.know-grid p{
    font-size: $s;
    font-family: 'Merienda', cursive;
    width: 60%;
    margin-top: 0;
    line-height: 150%;

@media screen and (max-width: $tablet){ 
    font-size: $xss;
      }
      @media screen and (max-width: $tablet-s){ 
        font-size: $xs;
        
          }
          @media screen and (max-width: $phone-xl){ 
            font-size: $xss;
            width: 60%;
            }
            @media screen and (max-width: $phone){ 
             font-size: $xsss;
                 }
    }



    //   SLIDER PROYECTS    //

// COLOR FLECHAS DIRECCIONES
.icons-arrow{
    width: auto;
    height: auto;
    font-size: $xxxl * 1.5;
    position: absolute;
    cursor: pointer;
    color: $secundary-color;
    -webkit-tap-highlight-color: transparent;
    @media screen and (max-width: $FHD){ 
        font-size: $xxxl;
         }
    @media screen and (max-width: $tablet){ 
       font-size: $xl;
        }
        @media screen and (max-width: $tablet-s){ 
            display: none;
             }

    &_right{
        right: 6%;
        bottom: 35%;  
        @media screen and (max-width: $FHD){ 
            right: 7%;
            bottom: 38%;
             } 
    @media screen and (max-width: $tablet){ 
        right: 4%;
         }
    }
    &_left{
    left: 6%;
    bottom: 35%;  
    @media screen and (max-width: $FHD){ 
        left: 7%;
        bottom: 38%;
         } 
    @media screen and (max-width: $tablet){ 
        left: 4%;
         }
    }
}

//BARRAS INFERIORES TAMAÑOS
.bar{
        cursor: pointer;
        height: 4px;
        width: 25px;
        display: inline-block;
        margin-left: 0.5%;
        -webkit-tap-highlight-color: transparent;
   
    @media screen and (max-width: $tablet){ 
        width: 15px;
        height: 3px;
        }
        @media screen and (max-width: $tablet-s){   //EN ESTA RESOLUCION PASAN A SER CIRCULOS
            height: 30px;
            width: 30px;
            margin-left: 3%;
            border-radius: 100%;
            }
            @media screen and (max-width: $phone){ 
              height: 25px;
              width: 25px;
                 }
    }



//PROYECTO SLIDER 1
.vid-pro{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

//  VENTANA HOVER DEL SLIDER 1
.develop-pro{
    background-color: $dark-background;
    width: 100%;
    height: 100%;
    transform: scale(0.0000001);
    top: 0;
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: all 1.5s;
    opacity: 0.9;
    @media screen and (max-width: $tablet-s){ 
        display: none;
        }

    &_icons{
        width: 150px;
        height: 150px;
        margin: 10%;
        @media screen and (max-width: $HD){ 
            width: 100px;
            height: 100px;
            }
            @media screen and (max-width: $tablet){ 
                width: 80px;
                height: 80px;
                }
    }
}





    // CONTACT ME     CONTACT ME //


// TITULOS DE LOAS DIFERENTES APARTADOS 

.section-footer_title {
    margin-left: auto;
    margin-right: auto;
    font-size: $xl;
    margin-bottom: 25px;
    margin-top: 9%;
    color: $white-color;
    font-family: 'Merienda', cursive;
    @media screen and (max-width: $FHD){ 
        font-size: $l;
        }
        @media screen and (max-width: $tablet){ 
            font-size: $s;
            margin-top: 10px;
            margin-bottom: 10px;
                }
                @media screen and (max-width: $tablet-s){ 
                    font-size: $m;
                    margin-top: 10px;
                    margin-bottom: 20px;
                        }
                        @media screen and (max-width: $phone){ 
                           font-size: $s;
                             }
    }


/*ICONOS DE LA SECCION DE CONTACTOS*/
.icon-contact{
    font-size: $xl;
    margin-left: 20%;
    margin-bottom: 2%;
    @media screen and (max-width: $tablet){ 
        font-size: $m;
        @media screen and (max-width: 450px){ 
            margin-left: 22%;
            }
        }
    & p{
        font-size: $m;
        display: inline-block;
        margin: 0;
        margin-left: 20px;
        font-family: 'Merienda', cursive;
        -webkit-tap-highlight-color: transparent;
        @media screen and (max-width: $FHD){ 
            font-size: $s;
            }
            @media screen and (max-width: $tablet){ 
                font-size: $xss;
                }
                @media screen and (max-width: $phone){ 
                    font-size: $xsss;
                     }
    }
}

// TEXTOS E ICONOS (DESCUBRE MAS SOBRE MI)
.icon-des{
    
        font-size: $xl;
        text-decoration: none;
        margin-top: 5px;
        margin-left: 45%;
        -webkit-tap-highlight-color: transparent;
        @media screen and (max-width: $tablet){ 
            font-size: $m;
                }
                @media screen and (max-width: $tablet){ 
                    font-size: $xl;
                        }
                
        &_follow{
            font-size: $m;
            font-family: 'Merienda', cursive;
            margin-left: 37%;
            @media screen and (max-width: $FHD){ 
            font-size: $s;
                }
                @media screen and (max-width: $tablet){ 
                 font-size: $xss;
                        }    
                        @media screen and (max-width: $phone){ 
                           font-size: $xsss;
                             }
            
        }
}

// TEXTOS ACERCA DE ESTE PROYECTO/

.this-pro{
    color: $white-color;
    font-family: 'Merienda', cursive;
    margin-top: 5px;
    font-size: $xss;
    
    @media screen and (max-width: $phone){ 
        font-size: $xsss;
         }
}
 //Iconos 

.icon-madeWith{
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
    @media screen and (max-width: $tablet){
        width: 18px;
        height: 18px;
            }
            @media screen and (max-width: $tablet-s){
                width: 28px;
                height: 28px;
                margin: 0;
            
                    }
   
}

// TEXTOS OTROS RECURSOS
.resources{
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 38%;
    font-size: $m;
    font-family: 'Merienda', cursive;
    -webkit-tap-highlight-color: transparent;
    @media screen and (max-width: $FHD){ 
        font-size: $s;
        }
        @media screen and (max-width: $tablet){ 
            margin-bottom: 0px;
            font-size: $xss;
            margin-left: 42%;
            line-height: 200%;
                }
                @media screen and (max-width: $phone){ 
                   font-size: $xsss;
                     }
}

.text-flaticon{
    color: $white-color;
    -webkit-tap-highlight-color: transparent;
    @media screen and (max-width: $HD){ 
        font-size: $xsss;

            }   
    &_from{
        color: $white-color;
        -webkit-tap-highlight-color: transparent;
        @media screen and (max-width: $HD){ 
            
            font-size: $xsss;
                }
      
    }
}


.link-flaticon{
    -webkit-tap-highlight-color: transparent;
    @media screen and (max-width: $HD){ 
            
        font-size: $xsss;
            }
}



    // BOTON UP    BOTON UP //

// ESTILOS
.container-icon-up{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 28px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    & a{
        font-size: $xxl;
        width: auto;
        height: auto;

    }
    @media screen and (max-width: $FHD){ 
        right: 20px;
        }
    @media screen and (max-width: $HD){ 
        display: none;
            }    
    }





