/*Tamanyos de fuentes*/

$xxxxl: 36px;
$xxxl: 32px;
$xxl: 28px;
$xl: 24px;
$l: 20px;
$m: 16px;
$s: 14px;
$xs: 12px;
$xss: 10px;

/* Colores */
$dark-color: rgb(0, 0, 0);
$white-color: rgb(255, 253, 253);
$secundary-color:rgb(113, 154, 201);
$white-background: rgb(255, 255, 255);
$dark-background: rgb(34, 33, 33);
$background-body: rgb(218, 214, 214);

/*MARGENES Y DIMENSIONES*/
$margenes: 86%;//ancho de las secciones
$sections:805px;//alto de las secciones
$margenes-body:3%;//margenes laterales
$margen-title-sup:50px;
$margen-title-lat:120px;
$maxWidht:1536px;/*Ancho maximo permitido*/
$sectionsFHD : 650px;