/*Tamanyos de fuentes*/

$xxxxl: 36px;
$xxxl: 32px;
$xxl: 28px;
$xl: 24px;
$l: 20px;
$m: 16px;
$s: 14px;
$xs: 8px;
$xss: 4px;

/* Colores */
$dark-color: rgb(34, 33, 33);
$white-color: rgb(255, 253, 253);
$secundary-color:rgb(255, 179, 80);
$white-background: rgb(255, 255, 255);
$dark-background: rgb(34, 33, 33);
$dark-background: rgb(8, 8, 8);
$background-body: rgb(218, 214, 214);

/*MARGENES Y DIMENSIONES*/
$margenes: 86%;
$margenes-body:3%;
$margen-title-sup:50px;
$margen-title-lat:120px;
$sections:800px;
$maxWidht:1536px;/*Ancho maximo permitido*/