/*Tamanyos de fuentes*/

$xxxxl: 36px;
$xxxl: 32px;
$xxl: 28px;
$xl: 24px;
$l: 20px;
$m: 16px;
$s: 14px;
$xs: 8px;
$xss: 4px;

/* Colores */
$dark-color: rgb(34, 33, 33);
$white-color: rgb(255, 253, 253);
$secundary-color:rgb(240, 178, 98);
$white-background: rgb(245, 240, 240);
$dark-background: rgb(34, 33, 33);
$background-body: rgb(240, 210, 156);

/*SEPARACION DE LOS COSTADOS*/
$margenes: 86%;
$margen-title-sup:50px;
$margen-title-lat:150px;

$sections:800px;